/************ GLOBAL ************/
.chart_type_1{
    width:200px;
    min-height:270px;
    background:#ffffff;
    display:inline-block;
    float: left;
    box-shadow:0px 0px 1px 1px #E9E9E9;
}
.chart_type_2{
    width:400px;
    min-height:270px;
    background:#fff;
    display:inline-block;
    float: left;
    box-shadow:0px 0px 1px 1px #E9E9E9;
}
.chart_type_3{
    width:200px;
    min-height:90px;
    background:#fff;
    display:inline-block;
    float: left;
    box-shadow:0px 0px 1px 1px #E9E9E9;
}
.chart_type_1 img,.chart_type_2 img,.chart_type_3 img{
    width: 100%;
}
/************ TOP ************/
#top-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.23);
    z-index: 999;
    padding:10px 0px;
}

#top-sidebar .logo{
    width:344px;
    height:40px;
    padding-left:20px;
}
#top-sidebar .logo img{
    width:100%;
}

#top-sidebar .toolbar{
    position: absolute;
    width: 100px;
    height: 60px;
    right: 400px;
}
#top-sidebar .toolbar button{
    width: 100px;
    height: 30px;
    box-shadow:0px 0px 1px #e0e0e0;
    border:0;
    background:#fff;
    outline:0;
}
#top-sidebar .toolbar button:hover{
    background:#f6f6f6;
}

#top-sidebar .phase {
    position: relative;
    width: 400px;
    height: 60px;
    display: flex;
}
#top-sidebar .phase  button {
    position: absolute;
    height: 100%;
    width: 60px;
    border: none;
    background-color: transparent;
    z-index: 999;
}
#top-sidebar .phase  button {
        outline: none;
}
#top-sidebar .phase  button.active{
    opacity: 0.5;
}
#top-sidebar .phase  button.prev-button span{
   width:0;
   height:0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-right: 14px solid #03538D;
    border-bottom: 12px solid transparent;
}

#top-sidebar .phase  button.next-button span{
   width:0;
   height:0;
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 14px solid #03538D;
    border-bottom: 12px solid transparent;
}

#top-sidebar .phase li h2 {
    margin-right: 12px;
    font-size: 30px;
    color:#03538D;
}
#top-sidebar .phase li h4 {
    font-size: 16px;
}
#top-sidebar .phase li h2 , 
#top-sidebar .phase li h4{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-sidebar .phase  button.prev-button{
    left: 0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}
#top-sidebar .phase  button.next-button{
    right: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
#top-sidebar .phase  ul{
    position: relative;
    height: 45px;
    width: 100%;
    overflow: hidden;
}

#top-sidebar .phase  ul li {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
#top-sidebar .phase  ul li.active{
    opacity: 1;
}



/************ BOTTOM ************/
#map-control{
    position: absolute;
    bottom: 20px;
    right: 440px;
    
    z-index: 999;
    
}
.zoom button{
    width: 40px;
    height: 40px;
    display: block;
    box-sizing:border-box;
    padding:10px;
    margin:0 0 5px 0;
    border:0;
    background:#fff;
    outline:0;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.23);
    cursor:pointer;
}
.zoom button:hover{
    background:#f6f6f6;
}
.switch button{
    width: 40px;
    height: 40px;
    display: block;
    box-sizing:border-box;
    padding:3px;
    overflow: hidden;
    border:0;
    outline:0;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.23);
    cursor:pointer;
}
.switch button.map1{
    background:url(../../images/chart/mapmode1.png) #fff;
}
.switch button.map2{
    background:url(../../images/chart/mapmode2.png) #fff;
}
.switch button img{
    width: 34px;
    height: 34px;
}
.switch button.active:after{
    content:'<span></span>'
    background-image:url(../../images/chart/icon_right.png);
}



/************ LEFT ************/
#left-sidebar{
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 400px;
    height: 100%;
    background:#fff;
    // overflow: scroll;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.20);
    transition: transform 0.4s ease;
}

#left-sidebar .search{
    width: 400px;
    height: 60px;
    background-color:#f6f6f6;
    border-bottom:1px solid #E9E9E9;
}
.search img{
    padding:18px 18px 18px 18px;
    float: left;
    width:60px;
    height: 60px;
    background-color:#fff;
    box-sizing:border-box;
}
.search input.searchbar{
    font-size: 18px;
    color: #222222;
    line-height: 40px;
    width: 260px;
    padding:10px 0px;
    border:0px;
    margin:0;
    float: left;
    outline:0;
}
.search button{
    float: right;
    width: 80px;
    height:60px;
    background:#ffffff;
    font-size: 18px;
    font-weight: bold;
    color: #03538D;
    letter-spacing: 5px;
    text-align: center;
    border:0;
    cursor:pointer;
    outline:0;
}
#left-sidebar .introduct{
    width: 400px;
    padding:20px;
    box-sizing:border-box;
    border-bottom:1px solid #E9E9E9;
}


/************ RIGHT ************/
#right-sidebar {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    width: 400px;
    height: 100%;
    background:#fff;
    // overflow: scroll;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.20);
    transition: transform 0.4s ease;
}

#right-sidebar .datetime{
    height: 40px;
    width: 360px;
    padding: 10px 20px;
    border-bottom:1px solid #E9E9E9;
}
#Time{
    font-family: Gotham-Light;
    font-size: 40px;
    color: #222222;
    letter-spacing: 2px;
    float: left;
    line-height: 1.1;
    border-right: 1px solid #222222;
    width:180px;
    height:40px;
}
 #Years{
    font-family: Gotham-Book;
    font-size: 18px;
    color: #222222;
    letter-spacing: 2px;
    text-indent:20px;
}
 #Day{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #222222;
    letter-spacing: 1.31px;
    text-indent:20px;
}
#right-sidebar .information,
#left-sidebar  .information {
        box-sizing:border-box;
        float: left;
        position: relative;

}
#right-sidebar .information a,
#left-sidebar  .information a {
    position: absolute;
    right: 15px;
    top: 5px;
    display: block;
    width: 14px;
    height: 14px;
    z-index: 99999;
    background: url('../../images/chart/icon_link.png');
    background-size: 100% 100%;
}
.information:after {
        content: '';
        display: block;
        clear: both;
}
.type-big-parent{
     width: 100%;
}
.type-middle-parent {
    width: 50%;
}
.type-big,.type-middle  {
    min-height: 270px;
    overflow-y: auto;
    box-shadow:0px 0px 1px #E9E9E9;
    box-sizing:border-box;
    // background-color:red;
}

.typeText{
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    padding: 0 15px;
}
.typeText:first-child{
    margin-top: 15px;
}
.typeText span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    letter-spacing: 0.64px;
    line-height: 30px;
    text-align: left;
}

.typeText span:last-child {
    font-size: 12px;
    color: #949494;
    letter-spacing: 0.57px;
    line-height: 30px;
    text-align: right;
}
.openCloseSidebar-left{
    position: absolute;
    height: 100%;
    right:-20px;
    width: 20px;
    background: #fff;
    border:0px;
    border-left:1px solid #E9E9E9;
    border-right:1px solid #E9E9E9;
    outline:0;
}
.openCloseSidebar-left span{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 7px solid #e9e9e9;
    border-bottom: 8px solid transparent;
}

.openCloseSidebar-right{
    position: absolute;
    left:-20px;
    width: 20px;
    height: 100%;
    background: #fff;
    border:0px;
    border-left:1px solid #E9E9E9;
    border-right:1px solid #E9E9E9;
    outline:0;
}
.openCloseSidebar-right span{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 7px solid #e9e9e9;
    border-bottom: 8px solid transparent;
}
.left-cnj,.right-cnj {
    overflow:scroll;
    overflow-x: hidden;
    height: 100%;
    padding-top:60px;
    box-sizing:border-box;

}

#left-sidebar.close {
    transform: translate3d(-100%, 0,0);
}
#left-sidebar.close span{
    transform: rotate(180deg);
}

#right-sidebar.close {
    transform: translate3d(100%, 0,0);
}
#right-sidebar.close span{
    transform: rotate(180deg);
}
/************ TOP ************/
#top-sidebar.dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #0c1123;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.23);
    z-index: 999;
    padding:10px 0px;
}
#top-sidebar.dark .toolbar{
    position: absolute;
    width: 100px;
    height: 60px;
    right: 400px;
}
#top-sidebar.dark .toolbar button{
    width: 100px;
    height: 30px;
    box-shadow:0px 0px 1px #202131;
    border:0;
    color:#fff;
    background:#0c1123;
    outline:0;
}
#top-sidebar.dark .toolbar button:hover{
    background:#0c1123;
}
#top-sidebar.dark .phase h4{
    color:#fff;
}
#top-sidebar.dark .phase  button.prev-button{
    left: 0;
    border-right: 1px solid #202131;
    border-left: 1px solid #202131;
}
#top-sidebar.dark .phase  button.next-button{
    right: 0;
    border-left: 1px solid #202131;
    border-right: 1px solid #202131;
}
/************ LEFT ************/
#left-sidebar.dark{
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 400px;
    height: 100%;
    background:#202131;
    // overflow: scroll;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.20);
    transition: transform 0.4s ease;
}

#left-sidebar.dark .search{
    width: 400px;
    height: 60px;
    background-color:#f6f6f6;
    border-bottom:1px solid #0c1123;
}
#left-sidebar.dark .search img{
    padding:18px 18px 18px 18px;
    float: left;
    width:60px;
    height: 60px;
    background-color:#202131;
    box-sizing:border-box;
}

#left-sidebar.dark .search input.searchbar{
    font-size: 18px;
    color: #222222;
    background-color:#202131;
    line-height: 40px;
    width: 260px;
    padding:10px 0px;
    border:0px;
    margin:0;
    float: left;
    outline:0;
}
#left-sidebar.dark .search button{
    float: right;
    width: 80px;
    height:60px;
    background:#202131;
    font-size: 18px;
    font-weight: bold;
    color: #03538D;
    letter-spacing: 5px;
    text-align: center;
    border:0;
    cursor:pointer;
    outline:0;
}
#left-sidebar.dark .introduct{
    width: 400px;
    padding:20px;
    box-sizing:border-box;
    border-bottom:1px solid #E9E9E9;
}


/************ RIGHT ************/
#right-sidebar.dark{
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    width: 400px;
    height: 100%;
    background:#202131;
    // overflow: scroll;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.20);
    transition: transform 0.4s ease;
}

#left-sidebar.dark .type-big,#left-sidebar.dark .type-middle,#right-sidebar.dark .type-big,#right-sidebar.dark .type-middle{
    min-height: 270px;
    overflow-y: auto;
    box-shadow:0px 0px 1px #0c1123;
    box-sizing:border-box;
    // background-color:red;
}

#left-sidebar.dark .openCloseSidebar-left{
    position: absolute;
    height: 100%;
    right:-20px;
    width: 20px;
    background: #202131;
    border:0px;
    border-left:1px solid #0c1123;
    border-right:1px solid #0c1123;
    outline:0;
}
#left-sidebar.dark .openCloseSidebar-left span{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-right: 7px solid #0c1123;
    border-bottom: 8px solid transparent;
}

#right-sidebar.dark .openCloseSidebar-right{
    position: absolute;
    left:-20px;
    width: 20px;
    height: 100%;
    background: #202131;
    border:0px;
    border-left:1px solid #0c1123;
    border-right:1px solid #0c1123;
    outline:0;
}
#right-sidebar.dark .openCloseSidebar-right span{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 7px solid #0c1123;
    border-bottom: 8px solid transparent;
}

#left-sidebar.dark .typeText span:first-child ,#right-sidebar.dark .typeText span:first-child {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.64px;
    line-height: 30px;
    text-align: left;
}