* {
    box-sizing: border-box;
}

.exhibition {
    display: flex;
    height: 100%;
}

.exhibition .dAdminTree {
    width: 400px;
    padding-top: 60px;
    overflow-y: auto;
}

.exhibition .mapPosition {
    flex: 1;
    padding-top: 60px;
    overflow: hidden;
}

.exhibition .mapPosition .module-header,
.exhibition .mapPosition .module-md,
.exhibition .mapPosition .module-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exhibition .mapPosition .module-header {
    height: 50px;
    /*padding: 0 0 0 15px;*/
}

.exhibition .mapPosition .module-md {
    padding-top: 10px;
}

.exhibition .mapPosition .module-md div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 0 3px;
    border-radius: 3px 3px 0 0;
}

.exhibition .mapPosition .module-features {
    display: none;
}

.exhibition .mapPosition .module-features.open {
    display: flex;
}

.exhibition .mapPosition .module-features .f-i {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.exhibition .mapPosition .module-features .f-i img {
    width: 100%;
}

.exhibition .mapFiled-view {
    width: 100%;
    height: calc(100% - 120px);
    padding: 5px;
    overflow-y: auto;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .1);
    position: relative;
}

.dataView-Pages {
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: auto;
}

.dataView-Pages th,
.dataView-Pages td {
    min-width: 150px;
}


/*
 dark 模式
*/

.exhibition.dark .mapPosition {
    background-color: #0E142A;
}

.exhibition.dark .mapPosition .module-md div {
    color: #fff;
    background-color: #151B3A;
}

.exhibition .mapPosition .module-md div.active {
    background-color: rgba(255, 255, 255, .1);
}

.exhibition.dark .dAdminTree {
    background-color: #0E142A;
}

.exhibition.dark .tree-parents {
    padding: 10px;
}

.exhibition.dark .tree-radius {
    border-radius: 5px;
    overflow: hidden;
}

.exhibition.dark .tree-radius>p {
    height: 40px;
    line-height: 40px;
    color: #0088EB;
    background-color: #1D233D;
    font-size: 20px;
    padding: 0 20px;
}

.exhibition.dark .tree-parents .tree-bg {
    background-color: #232C4D;
    color: #fff;
}

.exhibition.dark .tree-parents .tree-p-branch {
    padding: 0 20px;
    /*height: 40px;
    line-height: 40px;*/
}

.exhibition.dark .tree-parents .tree-branch {
    height: 40px;
    line-height: 40px;
    position: relative;
}

.exhibition.dark .tree-parents .tree-branch:after {
    display: block;
    position: absolute;
    right: 15px;
    top: 42%;
    content: '';
    border-left: 4px solid transparent;
    border-top: 6px solid #ffffff;
    border-right: 4px solid transparent;
    transition: border .3s;
}

.exhibition.dark .tree-parents .tree-branch.open:after {
    border-top: 0px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-right: 4px solid transparent;
}

.exhibition.dark .tree-parents .tree-p-branch ul {
    display: none;
}

.exhibition.dark .tree-parents .tree-p-branch ul li {
    padding-left: 40px;
    margin: 0 -20px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}

.exhibition.dark .tree-parents .tree-p-branch ul li.active {
    background-color: rgba(255, 255, 255, .1);
}

.exhibition.dark .tree-parents .tree-p-branch ul li.active:after {
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 35px;
    top: 50%;
    border-radius: 50%;
    content: '';
    background-color: #7ED321;
}


/*
数据面板
*/

#dataView {
    display: none;
    width: 100%;
    min-height: 100%;
    padding-bottom: 60px;
    position: relative;
}

.vi-pages {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    color: #fff;
}

.vi-pages input {
    width: 50px;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    margin: 0 5px;
    color: #fff;
    padding: 5px;
}

.vi-pages .selectIn {
    margin: 0 10px;
}

.vi-pages,
.numberCount,
.selectCount,
.isShow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}