.dataDisplay {
    display: flex;
}

.dataDisplay ._laysthList {
    background-color: #fff;
}

._laysthList .toggleTarget {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    color: #2a9bec;
    background-color: #e9eff4;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
}

._laysthList .toggleTarget:after {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2a9bec;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: '';
}

._laysthList .toggleTarget:focus {
    outline: none;
}

._laysthList ._laysthList-bgc>div:first-child .toggleTarget {
    border-radius: 3px 3px 0 0;
}

._laysthList ._laysthList-bgc>div:last-child .toggleTarget {
    border-bottom: none;
    border-radius: 0 0 3px 3px;
}

._laysthList .in_parents {
    display: none;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

._laysthList .in_parents li {
    cursor: pointer;
}

.dataDisplay .laysthTitle {
    display: flex;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
}

.dataDisplay .laysthTitle .laysthTitle-h2 {
    font-size: 16px;
    color: #2a9bec;
    font-weight: 700;
}

._laysthList ._laysthList-bgc {
    padding: 5px;
}


/*.dataDisplay .laysthTitle h2 {
    height: 45px;
    line-height: 45px;
    background-color: #f7f7f7;
}*/

.dataDisplay .laysthTitle .icons-Display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataDisplay .laysthTitle .icons-Display span {
    display: block;
    width: 25px;
    height: 25px;
}

.dataDisplay .laysthTitle .icons-Display span img {
    width: 100%;
}


/*.dataDisplay .laysthTitle .toggleTarget {}

._laysthList-bgc*/


/***
  Popup -- Css Start
**/

.popupAddChange,
.popupAddChangeZD {
    display: none;
    width: 350px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-top: 5px solid #0088EB;
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .1);
    z-index: 9;
}

.popupAddChange ._popupSelect,
.popupAddChangeZD ._zdPopupSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    position: relative;
}

.popupAddChange .popupTitle,
.popupAddChangeZD .popupTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 -20px;
    padding: 0 15px
}

.popupAddChange .popupTitle span,
.popupAddChangeZD .popupTitle span {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.popupAddChange .popupTitle span img,
.popupAddChangeZD .popupTitle span img {
    width: 100%;
}

.popupAddChange ._popupSelect ._drop,
.popupAddChangeZD ._popupSelect ._drop {
    width: 25px;
    position: absolute;
    top: 1;
    right: 1px;
    bottom: 6px;
    cursor: pointer;
    background-color: #fff;
}

.popupAddChange ._popupSelect ._drop:after,
.popupAddChangeZD ._popupSelect ._drop:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: 4px solid transparent;
    border-top: 6px solid #000;
    border-right: 4px solid transparent;
}

.popupAddChange ._popupSelect>input {
    width: 60%;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
}

.popupAddChange ._popupSelect>input[type='file'] {
    height: auto;
    border: none;
    padding: 0;
}

.popupAddChange ._popupSelect>input:focus {
    outline: none;
}

.popupAddChange ._liSelect {
    width: 60%;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 9;
    display: none;
    background: #fff;
}

.popupAddChange ._liSelect li._selected {
    background-color: #e0e0e0;
}

.popupAddChange ._liSelect li {
    padding: 0 10px;
    list-style: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.popupAddChange ._liSelect li:hover,
{
    background-color: #e0e0e0;
}

.popupAddChange .qfButton,
.popupAddChangeZD .qfButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: #f9f9f9;
    margin: 0 -20px;
}

.popupAddChange .qfButton button,
.popupAddChangeZD .qfButton button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    border: 1px solid #2399ed;
    background-color: #fff;
    font-size: 16px;
}

.popupAddChange .qfButton button:hover,
.popupAddChangeZD .qfButton button:hover {
    background-color: rgba(0, 136, 235, .2)
}

.popupAddChange .qfButton button img,
.popupAddChangeZD .qfButton button img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.iframe-Viewinfo {
    flex: 1;
    padding: 5px;
}

._fieldRqpost {
    width: 300px;
    background-color: #fff;
}

._dataFiled tr:nth-child(2n) {
    /*background-color: #f7f4f4;*/
}

._dataFiled tr.active {
    background-color: #dfe7f3;
}

._zdPopupSelect select,
._zdPopupSelect input {
    height: 40px;
    line-height: 40px;
    width: 60%;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    background: #fff;
    padding: 0 10px
}

._zdPopupSelect select:focus,
._zdPopupSelect input:focus {
    height: 40px;
    line-height: 40px;
    width: 60%;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    background: #fff;
    padding: 0 10px
}

._zdPopupSelect select {
    border: 0px;
    outline: 1px solid rgb(204, 204, 204);
}

.popupAddChangeZD ._zdPopupSelect._anmose {
    display: none;
}

._fieldRqpost ._column {
    background-color: #E8E8E8;
}

._fieldoperating,
._fieldTab,
._operating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

._fieldoperating {
    background-color: #F7F7F7;
    padding-top: 5px;
    overflow: hidden;
}

._fieldTab button {
    height: 50px;
    line-height: 50px;
    background: none;
    border: none;
    position: relative;
    padding: 0 20px;
    font-size: 16px;
    color: #2a9bec;
}

button:focus {
    outline: none;
}

._fieldTab button.active {
    background: #fff;
}

._fieldTab button.active:after {
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a9bec;
    content: '';
}

._operating button {
    width: 25px;
    padding: 0;
    background: none;
    border: none;
}

._operating button img {
    width: 25px;
}