.dataDisplay {
    height: 100%;
    padding-top: 60px;
    background-color: #e9eff4;
}

.dataDisplay .listAry_cs {
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 300px;
    border-right: 1px solid #e0e0e0;
    /*overflow: auto;*/
    z-index: 9;
    background-color: #e9eff4;
    padding: 5px;
}

.dataDisplay .listAry_cs ul {
    border-radius: 3px;
    background-color: #fff;
}

.dataDisplay .listAry_cs .addListAry {
    padding: 5px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.dataDisplay .listAry_cs ._listinfoAdd {
    height: calc(100% - 45px);
    overflow: auto;
}

.dataDisplay .listAry_cs .addListAry img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.dataDisplay .listAry_cs li {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 35px;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.dataDisplay .listAry_cs li.active {
    position: relative;
    background-color: #f9f9f9;
}

.dataDisplay .listAry_cs li.active:after {
    position: absolute;
    display: block;
    right: 10px;
    top: 15px;
    border-radius: 50%;
    background-color: #7ed321;
    width: 6px;
    height: 6px;
    content: '';
}

.dataDisplay .listAry_cs li:hover {
    background-color: #f9f9f9;
}

.dataDisplay .listAry_cs li span {
    cursor: pointer;
}

.dataDisplay .listAry_cs li span.group {
    display: block;
    min-width: 50%;
}

.dataDisplay .listAry_cs li div.gr-feature {
    float: right;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    pointer-events: none;
    margin-right: 15px;
}

.dataDisplay .listAry_cs li:hover div.gr-feature {
    opacity: 1;
    pointer-events: auto;
}

.dataDisplay .listAry_cs li .gr-feature span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.dataDisplay .listAry_cs li .gr-feature img {
    width: 100%;
}

.dataDisplay .listAry_cs input.change-group {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.dataDisplay .listAry_cs input._show {
    display: block;
}

.dataDisplay ._listinfo {
    /*padding-top: 45px;*/
    /*height: 100%;
    overflow: auto;*/
}

.dataDisplay .laysthTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    /*position: absolute;
    left: 0;
    right: 0;
    z-index: 99;*/
    background-color: #f7f7f7;
}

.dataDisplay .laysthTitle .icons-Display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataDisplay .laysthTitle .laysthTitle-h2 {
    font-size: 16px;
    color: #2a9bec;
    font-weight: 700;
}

.dataDisplay .laysthTitle .icons-Display span {
    display: block;
    width: 25px;
    height: 25px;
}

.dataDisplay .laysthTitle .icons-Display span img {
    width: 100%;
}


/*.dataDisplay .management {
    float: right;
    width: 200px;
    height: 100%;
}*/

.dataDisplay .tableList {
    width: 100%;
    padding-left: 300px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    /*position: relative;*/
}

.dataDisplay .tableList th {
    min-width: 150px;
}

.dataDisplay .tableList td {
    text-align: center;
    position: relative;
    height: 40px;
}

.dataDisplay .tableList td._null {
    background-color: rgba(182, 36, 38, 0.1);
}

.dataDisplay .tableList td input,
.dataDisplay .tableList td select {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 5px 10px;
    border: none;
    display: none;
}

.dataDisplay .addSeve {
    padding: 10px 5px;
    display: flex;
    height: 50px;
    position: absolute;
    left: 300px;
    right: 0;
    z-index: 9;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    /*display: none;*/
}

.tebleListinfo {
    padding-top: 60px;
}

._deleteTr.active,
._addTr.active {
    background-color: #d0c7c7;
}

.addSeve button {
    border: none;
    margin: 0 3px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #0088eb;
    padding: 0 12px;
    font-size: 14px;
}

.addSeve button img {
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 10px;
}

.addSeve button:focus {
    outline: none;
}

.addListData.active,
.changeListData.active,
.deleteListData.active {
    background-color: #bfacac;
}