.selecteInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
}

.selecteInput img {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 14px;
    left: 12px;
}

.selecteInput input {
    height: 40px;
    line-height: 40px;
    flex: 1;
    padding: 0 15px;
    border: 1px solid #e9eff4;
    border-radius: 5px;
    text-indent: 20px;
}

.selecteInput button {
    height: 40px;
    line-height: 34px;
    border: none;
    background-color: rgb(223, 238, 247);
    position: absolute;
    right: 5px;
    width: 60px;
    border-radius: 0px 4px 4px 0px;
    top: 5px;
    color: #0088eb;
}


}
._laysthList-bgc {
    overflow-y: auto;
    height: 100%;
}
._laysthList-bgc div {
    display: block;
    width: 100%;
    /*height: 35px;*/
    /*line-height: 35px;*/
}
._laysthList-bgc ._parmis {
    padding: 0;
}
._laysthList-bgc p._j_treeSelect {
    height: 35px;
    line-height: 35px;
    position: relative;
}
._laysthList-bgc p._j_treeSelect:hover span:after {
    opacity: 1;
}
._laysthList-bgc p._j_treeSelect span {
    display: block;
    cursor: pointer;
}
._laysthList-bgc p._j_treeSelect.active span:after {
    opacity: 1;
}
._laysthList-bgc p._j_treeSelect span:after {
    height: 100%;
    width: 300px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #dfe8ef;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
    content: '';
}
.dataDisplay .listAry_cs ._laysthList-bgc li {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
._selecteTabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    padding: 0 5px;
}
._selecteTabel ._selecteLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}
._selecteTabel ._moreInfor {
    display: flex;
    margin-right: 10px;
}
._selecteTabel ._moreInforTabel {
    min-width: 150px;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
._selecteTabel ._moreInforTabel.active {
    background-color: #f8fcff;
    position: relative;
}
._selecteTabel ._moreInforTabel.active:after {
    display: block;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #0088EB;
    content: '';
}
._laySelectList {
    width: 100%;
    margin: 8px;
    margin-left: 0;
    background: #b9d1e4;
    border-radius: 4px;
}
._termCounts {
    width: 120px;
    height: 32px;
    line-height: 32px;
    background-color: #f8fcff;
    padding: 0 10px;
    position: relative;
    border: none;
}
._term {
    position: relative;
}
._potoshop {
    height: 45px;
    line-height: 45px;
    background-color: #f8fcff;
    padding: 0 10px;
    position: relative;
}
._potoshop:after {
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0088EB;
    content: '';
}
._laysthList-bgc .css-treePrents {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0088EB;
    background-color: #e9eff4;
    border-bottom: 1px solid #BBD0E1;
}
._laysthList-bgc .css-treePrents span {
    font-size: 12px;
}

/*._laysthList-bgc .css-treePrents:after {
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    left: 3px;
    top: clac(50% - 2px);
    border-radius: 50%;
    background-color: #0088EB;
    content: '';
}*/
._parentsTree {
    border: 1px solid #BBD0E1;
    border-radius: 4px;
}
._parentsTree h4 {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #BBD0E1;
    color: #0088EB;
    background-color: #b9d1e4;
}
.reported-iframe {
    background: #fff;
}
.css-treePrents~ul {
    max-height: 400px;
    overflow-y: scroll;
}