/**
 * User: ZHANG-SHUANG-SHUANG
 * Date: 2016-12-23
 * °æ±¾£ºv1.0.0
 */
.l-map-icon-red{
	background-image: url(images/markers.png);
	background-position: -107px 105px;
}
.l-map-icon-red:hover{
	background-position: -125px 105px;
}